{
    ApplicationName = "psdoom";
    ApplicationDescription = "psdoom-ng source port - psDooM with Chocolate Doom";
    ApplicationIcon = app.png;
    ApplicationRelease = 2012.02.05-1.6.0;
    ApplicationURL = "https://github.com/orsonteodoro/psdoom-ng/";
    Authors = (
        "Orson Teodoro <orsonteodoro@yahoo.com>"
    );
    Copyright = "Copyright (C) 1993-2012";
    CopyrightDescription = "GNU General Public License, version 2";
    FullVersionID = 2012.02.05-1.6.0;
    GSMainMarkupFile = "";
    NSExecutable = "launcher";
    NSIcon = app.png;
    NSMainNibFile = launcher.nib;
    NSPrincipalClass = NSApplication;
    NSRole = Application;
    NSTypes = (
        {
            NSHumanReadableName = "Doom WAD file";
            NSUnixExtensions = ( wad );
            NSRole = Viewer;
            NSMimeTypes = (
                "application/x-doom"
            );
            NSIcon = "wadfile.png";
        },
        {
            NSHumanReadableName = "Dehacked patch";
            NSUnixExtensions = ( deh );
            NSRole = Viewer;
            NSIcon = "wadfile.png";
        }
    );
}
