//-----------------------------------------------------------------------------
//
// Copyright(C) 2005 Simon Howard
// Copyright(C) 2008 "GhostlyDeath" (ghostlydeath@gmail.com)
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
// 02111-1307, USA.
//
// DESCRIPTION:
//	Win32 Resources
//
//-----------------------------------------------------------------------------

#ifndef DEDICATEDSERVER
#ifdef CHOCOLATESETUP
1 ICON "../data/setup.ico"
#else
1 ICON "../data/doom.ico"
#endif
#endif

1 VERSIONINFO
PRODUCTVERSION 1,6,0,0
FILEVERSION 1,6,0,0
FILETYPE 1
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileVersion", "1.6.0"
			VALUE "FileDescription", "Chocolate Doom 1.6.0"
			VALUE "InternalName", "chocolate-doom"
			VALUE "CompanyName", "fraggle@gmail.com"
			VALUE "LegalCopyright", "GNU General Public License"
			VALUE "ProductName", "Chocolate Doom"
			VALUE "ProductVersion", "1.6.0"
		END
	END
END

// GhostlyDeath - Preferebly for codeblocks (if it even uses this RC!)
#ifdef __MINGW32__
#ifdef CHOCOLATESETUP
// RT_MANIFEST might NOT be defined
1 24 "../setup/setup-manifest.xml"
#endif
#endif
